<h1>Inscribirse a {{ codigo }}</h1>
<form action="/new/confirm" method="post">
    <fieldset>
        <label for="padron">Padrón:</label><br>
        <input type="number" id="padron" name="padron" placeholder="Ingresar número de padrón" />
        <br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" placeholder="Ingresar dirección de correo electrónico" />
        <br>
        <input type="hidden" value="{{ codigo }}" name="codigo"/>
        <input type="submit" value="Inscribir" />
    </fieldset>
</form>