<h1>Buscar materias por código</h1>
<p>Seleccione código:</p>

<form action="/index" method="post">
    <fieldset>
        <label for="codigo">Código:</label><br>
        <input type="number" id="código" name="codigo" placeholder="Ingresar número de código" />
        <input type="submit" value="Buscar" />
    </fieldset>
</form>